{% load comments i18n %}

<form action="{% comment_form_target %}" method="post">{% csrf_token %}
 <div>{% if next %}
	<input type="hidden" name="next" value="{{ next }}" />
      {% else %}
	<input type="hidden" name="next" value="{{ form.target_object.get_absolute_url }}" /></div>
      {% endif %}
 </div>
 {% for field in form %}
      <p>{{ field.label_tag }} {{ field }}</p>
  {% endif %}
 {% endfor %}
 <p class="submit">
   <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}"/>
 </p>
</form>
