{% extends "blog/base.html" %}

{% block title %} Page d'acceuil  {% endblock %}

{% block content %}

 <div class = "categorie">
   <h2> Qu'est ce que l'UFC</h2>
   <p>L'Ultimate Fighting Championship est le plus grand des championnaux de MMA au monde !! Il rassemble les meilleurs combattants du monde </p>
   
   
{% for categorie in toutes_categorie %}
   <p> Vous trouverez ci dessous les fiches de combattants selon leur catégorie : </p>
   <p> <a href="{% url "blog.views.article" categorie.nom %}"> Combattants {{ categorie.label }}</a> </p>
 </div>
 {% empty %}
  <p> Aucune categorie </p>
{% endfor %}


<div class ="match">
{% for match in tout_match %}
 <p> Vous trouverez ci dessous les prochains combats : </p>
 <p> <a href="{% url "blog.views.match" match.categorie.nom %}">Prochain match {{ match.label }}</a><p>
</div>
{% empty %}
 <p> Aucun match </p>
{% endfor %}

{% endblock %}
