<!DOCTYPE HTML >
<!-- Projet Web 5a ESIEA #Birba #Hamide -->
<html>
   <head>
	<meta charset="utf-8" />
	<TITLE>UFC Projet Web</TITLE> <!--titre de l'onglet du navigateur-->
	<link rel="stylesheet" href="/assets/style2.css"/> 
	<script src="/assets/clock.js"></script>
   </head>

 <hgroup id = "fond-blanc">
  <body id = "contenu" >
	<header>
			<hgroup id="banniere">
			</hgroup>	
	</header>
	
	<!-- page d'accueil -->
	<section id="actu">
		<h1>{% block title %} Titre {% endblock %}</h1>
		{% block content %} Content {% endblock %}
	</section>
	</body>
	<!-- le bas de page-->
	 <footer id="footer">
                <h1>Nous contacter!</h1>
                <p>Vous pouvez nous laisser vos commentaires dans cette section</p>
                <p>Bugs? Suggestions? Vous trouverez <a href="mailto:hamide@et.esiea.fr">ici</a> comment nous contacter !</p>
        </footer>
  
 </hgroup>
</html>	
