<!DOCTYPE HTML >
<!-- Projet Web 5a ESIEA #Birba #Hamide -->
<html>
   <head>
	<meta charset="utf-8" />
	<TITLE>UFC Projet Web</TITLE> <!--titre de l'onglet du navigateur-->
	<link rel="stylesheet" href="/assets/style2.css"/> 
   </head>

 <hgroup id = "fond-blanc">
  <body id = "contenu" >
	<header>
			<hgroup id="banniere">
			<img src="/assets/UFC3.jpg" style="opacity:0;">
			</hgroup>	
	</header>
	<div id="menuprincipal">
        <nav>
        <p> <center> <p>
           <ul>
           <li><a href="{% url "blog.views.actu" %}"><mark>L'actualité'</mark></a></li>
           <li><a href="{% url "blog.views.combattants" %}"><mark>Combattants</mark></a>
              <ul>    
               <li><a href="{% url "blog.views.article" 'poids-leger' %}"><mark>Poids léger</mark></a></li>
               <li><a href="{% url "blog.views.article" 'poids-moyen' %}"><mark>Poids moyen</mark></a></li> 
               <li><a href="{% url "blog.views.article" 'poids-lourd' %}"><mark>Poids lourd</mark></a></li>
              </ul>
           </li>
           <li><li><a href="{% url "blog.views.accueilmatch" %}"><mark>Matchs</mark></a>
              <ul>    
               <li><a href="{% url "blog.views.match" 'poids-leger' %}"><mark>Poids léger</mark></a></li>
               <li><a href="{% url "blog.views.match" 'poids-moyen' %}"><mark>Poids moyen</mark></a></li> 
               <li><a href="{% url "blog.views.match" 'poids-lourd' %}"><mark>Poids lourd</mark></a></li>
              </ul>
           </li>
           </ul>
          </p></center></p>  
         </nav>
         </div>
	
	<!-- page d'accueil -->
	<section id="actu">
		<h1><p>{% block title %} Titre {% endblock %}</p></h1>
		{% block content %} Content {% endblock %}
	</section>
	</body>
	<!-- le bas de page-->
	 <footer id="footer">
                <h6>Nous contacter!</h6>
                <p>Vous pouvez nous laisser vos commentaires dans cette section</p>
                <p>Bugs ? Suggestions ? Vous trouverez <a href="mailto:hamide@et.esiea.fr">ici</a> comment nous contacter !</p>
        </footer>
  
 </hgroup>
</html>	
