<!DOCTYPE HTML >
<!-- Projet Web 5a ESIEA #Birba #Hamide -->
<HTML>
   <HEAD>
	<meta charset="utf-8" />
	<TITLE>UFC Projet Web</TITLE> <!--titre de l'onglet du navigateur-->
	<link rel="stylesheet" href="/assets/style2.css"/> 
   </HEAD>

 <hgroup id = "fond-blanc">
  <body id = "contenu">
	<header>
		<div id="menuprincipal">
			<nav>
			  	<ul>
					<li>Accueil
						<ul>		
							<li><a href="{% url "blog.views.actu" %}"><mark>L'actualité'</mark></a></li>
				    	</ul>
					</li>
					<li>Combattants
						<ul>		
							<li><a href="#Poidsléger"><mark>Poids léger</mark></a></li>
						    <li><a href="#Poidsmimoyen"><mark>Poids mi-moyen</mark></a></li>
						    <li><a href="#Poids-moyen"><mark>Poids moyen</mark></a></li> 
							<li><a href="#Poids-mi-lourd"><mark>Poids mi-lourd</mark></a></li>
							<li><a href="#Poids-lourd"><mark>Poids lourd</mark></a></li>
							<li><a href="Women's-Bantamweight"><mark>Women's Bantamweight</mark></a></li> 
						</ul>
					</li>
					<li>Matchs
						<ul>		
							<li><a href="#Match-Poidsléger"><mark>Poids léger</mark></a></li>
						    <li><a href="#Match-Poidsmimoyen"><mark>Poids mi-moyen</mark></a></li>
						    <li><a href="#Match-Poids-moyen"><mark>Poids moyen</mark></a></li> 
							<li><a href="#Match-Poids-mi-lourd"><mark>Poids lourd</mark></a></li>
							<li><a href="#Match-Women's-Bantamweight"><mark>Women's Bantamweight</mark></a></li> 
						</ul>
					</li>
				</ul>
	  		</nav>			
		</div>
	</header>
	
	<!-- page d'accueil -->
	<section id="actu">
		<h1>{% block title %} Titre {% endblock %}</h1>
		{% block content %} Content {% endblock %}
	</section>
	
	<!-- le bas de page-->
	 <footer id="footer">
                <h1>Nous contacter!</h1>
                <p>Vous pouvez nous laisser vos commentaires dans cette section</p>
                <p>Bugs? Suggestions? Vous trouverez <a href="mailto:hamide@et.esiea.fr">ici</a> comment nous contacter !</p>
        </footer>
  </body>
 </hgroup>
</HTML>	
