<!DOCTYPE HTML >
<!-- Projet Web 5a ESIEA #Birba #Hamide -->
<HTML>
   <HEAD>
	<meta charset="utf-8" />
	<TITLE>UFC Projet Web</TITLE> <!--titre de l'onglet du navigateur-->
	<link rel="stylesheet" href="style2.css"/>
	<script src="clock.js"></script>
	<script src="commentaires.js"></script>  
   </HEAD>

<body id ="contenu">
	<header>
		<div id="menuprincipal">
			<nav>
				<ul>
					<li>Accueil
						<ul>		
							<li><a href="actu.html#actu"><mark>L'actualité</mark></a></li>
				    	</ul>
					</li>
					<li>Combattants
						<ul>		
							<li><a href="combattants.html#Poids-léger"><mark>Poids léger</mark></a></li>
						    <li><a href="combattants.html#Poids-mi-moyen"><mark>Poids mi-moyen</mark></a></li>
						    <li><a href="combattants.html#Poids-moyen"><mark>Poids moyen</mark></a></li> 
							<li><a href="combattants.html#Poids-mi-lourd"><mark>Poids mi-lourd</mark></a></li>
							<li><a href="combattants.html#Poids-lourd"><mark>Poids lourd</mark></a></li>
							<li><a href="combattants.html#Women's-Bantamweight"><mark>Women's Bantamweight</mark></a></li> 
						</ul>
					</li>
					<li>Matchs
						<ul>		
							<li><a href="match.html#Match-Poids-léger"><mark>Poids léger</mark></a></li>
						    <li><a href="match.html#Match-Poids-mi-moyen"><mark>Poids mi-moyen</mark></a></li>
						    <li><a href="match.html#Match-Poids-moyen"><mark>Poids moyen</mark></a></li>
						 	<li><a href="match.html#Match-Poids-mi-lourd"><mark>Poids mi-lourd</mark></a></li>
							<li><a href="match.html#Match-Poids-lourd"><mark>Poids lourd</mark></a></li>
							<li><a href="match.html#Match-Women's-Bantamweight"><mark>Women's Bantamweight</mark></a></li>
						</ul>
					</li>
				</ul>
			</nav>			
		</div>
	</header>
	<!-- balise de l'horloge numérique -->
 	<span id="clock"></span> 
	<div id="contenuprincipal">
	<!-- page d'accueil -->

	</div>
	
	<!-- page sur les combattants -->
	<section id="Combattants">
		<article>
	    <h1>Les combattants</h1>
	    <p>Toutes les catégories de combattants</p>
		</article>
	</section>
	
	<section id="Poids-léger">
		<article>
	    <h1>Poids léger</h1>
	    <p>Laisser vos commentaires sur nos combattants de la catégorie Poids léger</p>
		</article>
	</section>
	
	<section id="Poids-mi-moyen">
		<article>
	    <h1>Poids mi moyen</h1>
	    <p>Laisser vos commentaires sur nos combattants de la catégorie Poids mi moyen</p>
		</article>
	</section>
	
	<section id="Poids-moyen">
		<article>
	    <h1>Poids mi moyen</h1>
	    <p>Laisser vos commentaires sur nos combattants de la catégorie Poids mi moyen</p>
		</article>
	</section>
	
	<section id="Poids-mi-lourd">
		<article>
	    <h1>Poids mi lourd</h1>
	    <p>Laisser vos commentaires sur nos combattants de la catégorie Poids mi lourd</p>
		</article>
	</section>
	
	<section id="Poids-lourd">
		<article>
	    <h1>Poids lourd</h1>
	    <p>Laisser vos commentaires sur nos combattants de la catégorie Poids lourd</p>
		</article>
	</section>
	
	<section id="Women's-Bantamweight">
		<article>
	    <h1>Women's-Bantamweight</h1>
	    <p>Laisser vos commentaires sur nos combattants de la catégorie Women's Bantamweight</p>
		</article>
	</section>
	
	<!-- le bas de page-->
	<footer id="footer">
		<h1>Nous contacter!</h1>
		<p>Vous pouvez nous laisser vos commentaires dans cette section</p>
		<p>Bugs? Suggestions? Vous trouverez <a href="mailto:hamide@et.esiea.fr">ici</a> comment nous contacter !</p>
	</footer>
</body>
</HTML>	