{% extends "blog/base.html" %}

{% block title %} <h1> {{ match.nom }} </h1> {% endblock %}

{% block content %}
 <div class = "contenu">
  <p> {{match.contenu|linebreaks }} </p>
 </div>
 
{% for commentairematch in tous_commentaires %}
 <div class = "commentairematch">
   <h3>{{ commentairematch.auteur }} </h3>
   <p>{{ commentairematch.contenu|linebreaks }}</p>
 </div>
 {% empty %}
  <p> Aucun commentaire </p>
{% endfor %}

<form action="{% url "blog.views.combat" match.categorie.nom match.id %}" method="post">
{%csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}
