h1 {
    	font-family: Arial, sans-serif;
    	font-size: 3.3em;
    	color: #FF0000; /* couleur rouge*/
	text-align : center ; /* centrer le text à gauche */
	text-shadow: 2px 2px 40px white; /* donne un effet d'ombre sur les lettres d'une balise de type block*/
}

#banniere{
	margin-bottom:100px;
	background-image:url(UFC3.jpg);
	
}

body{
	margin: 10px 0px 10px 0px;
	background-color: white;
	background-image:linear-gradient(top, #4D4D4D, white);
	background-image:-moz-linear-gradient(top, #4D4D4D, white);
	background-image:-o-linear-gradient(top, #4D4D4D, white);
	background-image:-ms-linear-gradient(top, #4D4D4D, white);
	background-image:-webkit-linear-gradient(top, #4D4D4D, white);
	background-repeat:no-repeat;
/*	background-image:url(UFC3.jpg);
	background-repeat:repeat-x; #9fc6d4
*/
}


#fond-blanc{
	background-color: #48595F;
	padding: 2px 20px 2px 20px;
	margin: auto;
	width: 900px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	box-shadow: 5px 5px 5px black;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	-o-box-shadow: 5px 5px 5px black;	
	-ms-box-shadow: 5px 5px 5px black;
	border: 1px solid;


}


ul{
	padding: 0; 
	margin: auto; 
	background-color: red; 
	color: white;
	list-style:none;
	text-align: center;
}


li{
	float:left;
	position:relative;
	width:10em; 
	background-color: red; 
	text-align: center;
}

li ul{
	display:none;
	position:absolute;
	top: 1em;
	left:0;
}
li>ul{
	top:auto;
	left:auto;
	
}


li:hover ul { display: block; }
/*li:hover ul { display: block; }*/
mark
{
background-color: red;
color: white; 
}
/*
#contenu
{
background-color: rgb(189,199,199); couleur du fond du site grise
background-repeat: repeat;
background-position: 30px 50px;	
}
*/

a:link
{
	text-decoration:none;
}

#menuprincipal a.active, #MenuHorizontal a:hover {
    color: brown; /* couleur quand l'on passe sur les onglets du menu*/
    /*background: url(ohh.gif) no-repeat bottom center;*/ /*onglet_pyra.gif*/
    }
