/*#menuprincipal{
	/*background-color: red;
	/*text-align : center;
	width: 1000px;
	height: 80%;
	
}
/*
#menuprincipal li {
    display: inline;
    /*list-style-type: none;//
	font-size: 1.0em;
	height: 80px;
	}
	
nav{
	/*width:100px;//	
}


mark
{
background-color: black;
color: white; 
}

#clock{
	font: bold 24pt sans;
	background: #ddf; 
	padding: 10px;
	border: solid black 2px; /* bordure noir de 2px //
	border-radius: 10px;/* angle arrondis //
}
/*
#menu{
	font: bold 24pt sans;
	background: #ddf; 
	padding: 10px;
	border: solid black 2px; 
	border-radius: 10px;
	
}
//

span {
	display:none;
}*/

body{
	margin: 12px 0px 12px 0px;
	background-color: white;
	background-image:linear-gradient(top, #9fc6d4, white);
	background-image:-moz-linear-gradient(top, #9fc6d4, white);
	background-image:-o-linear-gradient(top, #9fc6d4, white);
	background-image:-ms-linear-gradient(top, #9fc6d4, white);
	background-image:-webkit-linear-gradient(top, #9fc6d4, white);

}

#fond-blanc{
	background-color: #5a9fdb;
	padding: 2px 20px 2px 20px;
	margin: auto;
	width: 900px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	box-shadow: 5px 5px 5px black;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	-o-box-shadow: 5px 5px 5px black;	
	-ms-box-shadow: 5px 5px 5px black;
	border: 1px solid;


}


ul{
	padding: 0;
	margin: 0;
	background-color: red;
	color: white;
	list-style:none;
}


li{
	float:left;
	position:relative;
	width:10em;
	background-color: red;
	text-align: center;
}

li ul{
	display:none;
	position:absolute;
	top: 1em;
	left:0;
}
li>ul{
	top:auto;
	left:auto;
}


li:hover ul { display: block; }
/*li:hover ul { display: block; }*/
mark
{
background-color: red;
color: white; 
}
/*
#contenu
{
background-color: rgb(189,199,199); couleur du fond du site grise
background-repeat: repeat;
background-position: 30px 50px;	
}
*/

a:link
{
	text-decoration:none;
}

#menuprincipal a.active, #MenuHorizontal a:hover {
    color: brown; /* couleur quand l'on passe sur les onglets du menu*/
    /*background: url(ohh.gif) no-repeat bottom center;*/ /*onglet_pyra.gif*/
    }
